@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: rgb(4, 23, 39);
    width: 375px;
    height: 100%;

    transform: translate(-50%, -50%);

}

section#login > div#imagem {
    display: block;
    background: black url(../imagens/logo-alterada.jpg) no-repeat;
    background-size: cover;
    height: 40%;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    height: 60%;;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}

div#formulario div.campo {
    color: white;
    text-align: center;
}